/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* debug */
.debug {

/* header */
    .status-bar {
        background-color: #ADD8E6 ;
        display: flex;
        justify-content: center;
        padding: 20px;
        padding-left: 150px;
        padding-right: 150px;
    }
    .logo, .link, .login { 
        background-color: #DBA521;
        border: 1px dotted #000000;
        padding: 5px;
    }
    .logo {
        width: 15%;
    }
    .link {
        width: 70%;
        text-align: center;
        padding: 5px;
    }
    .login {
        width: 15%;
        text-align: end;
    }
    .banner { 
    background-color: #08008B ;
    display: flex;
    justify-content: center;
    padding: 25px;
    }
    .banner-conteiner {
        background-color: #EE82EE;
        border: 1px dashed #000000;
        padding: 5px;
        height: 300px;
        display: flex;
        width: 900px;
        justify-content: center;
    }

    /* main */
    .white-content {
        background-color: white;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 150px;
    }
    .gray-content {
        background-color: #D3D3D3;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 150px;
    }
    .gray-big-content {
        background-color: #D3D3D3;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 150px;
    }
    .blue-conteiner {
        width: 100%;
        height: 300px;
        background-color: #1D90FF;
        border: 1px dashed #000000;
    }
    .pink-conteiner {
        width: 65%;
        height: 300px;
        background-color: #FFC0CB;
        border: 1px dashed #000000;
    }
    .green-conteiner {
        width: 100%;
        height: 600px;
        background-color: #238B22;
        border: 1px dashed #000000;
    }

    /* footer */
}